<% include partials/header %>
  <style>
    p {
      font-size: 15px;

    }

    h4 {
      font-size: 25px;
      font-family: cursive;
    }
  </style>

  <main class="mdl-layout__content">
    <div class="mdl-layout__tab-panel is-active" id="overview">
      <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
          <img src="/images/hock.jpeg" class="material-icons" />
        </header>
        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
          <div class="mdl-card__supporting-text">
            <h4>
              <%= title %>
            </h4>
            <p>
              <%= message %>
                <a href="expressjs.com">
                  <%= express %>
                </a> and
                <a href="https://getmdl.io/started/index.html">
                  <%= mdl %>
                </a>. Site deployment is done via
                <a href="github.com">
                  <%= github %>
                </a> and
                <a href="heroku.com">
                  <%= heroku %>
                </a>
            </p>

          </div>
        </div>
      </section>
    </div>
  </main>




  <% include partials/footer %>