<% include partials/header %>

    <h2>
        <%= title %>
    </h2>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    <%= service_1 %>
                </td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    <%= service_2 %>
                </td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    <%= service_3 %>
                </td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    <%= service_4 %>
                </td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    <%= service_5 %>
                </td>
            </tr>
        </tbody>
    </table>

    <% include partials/footer %>